.name-box {
    background-color: #4aaaa5;
    padding: 10px;
    width: 15%; 
    float: left;
    color: #ffffff;
    position: fixed;
    top: 0;
    height: 90px;

}
li {
    float: left;
    padding: 10px;
}
.list {
    float: right;
}
a {
    color: #cccccc;
}

body {
    background-image: url("../images/united-squares/united-squares.png");
    text-align: center;
    margin: 0 auto;
}
footer {
    background-color: #666666;
    height: 30px;
    width: 100%;
    color: #ffffff;
}
.main-box {
    clear: both;
    height: auto;
    width: 960px;
    margin: 0 auto;
    padding: 10px;
    background-color: #ffffff;
    margin-top: 115px;
    margin-bottom: 20px;
    overflow: auto;
}
h2 {
    color: #4aaaa5;
    float: left;
}
textarea {
    clear: left;
    float: left;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
}
#message {
    height: 100px;
}
 
#image {
    width: 100px;
    height: 100px;
    clear: left;
    float: left;
}
p {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
}
button {
    clear: both;
    float: left;
    margin: 10px;
}
ul {
    list-style-type: none;
}
header {
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #ffffff;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 100;
}
.head-container {
    margin: 0 auto;
    width: 960px;
}
hr {
    clear: both;
}
.image-label {
    height: 20px;
    width: 100%;
    background-color: #4aaaa5;
    position: absolute;
    bottom: 10;
}
.discription {
    position: relative;
    float: left;
    display: block;
    width: 200px;
    height: 200px;
    margin: 15px;
    color: #ffffff;
}
.port-images {
    height: 100%;
    width: 100%;
}