#name-box {
    background-color: #4aaaa5;
    padding: 5px 10px 5px 10px; 
    margin: 10px;
    width: 15%; 
    float: left;
}
li {
    float: left;
    padding: 10px;
}
#list {
    float: right;
}
a {
    color: #cccccc;
}

#main-box {
    background-color: white;
}
body {
    background-image: url("../images/united-squares/united-squares.png");
    width: 960px;
    text-align: center;
}
footer {
    background-color: #666666;
}
#main-box {
    clear: both;
}
h2 {
    color: #4aaaa5;
}